.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 30px 100px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}

.editableContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.editableContainer > * {
  flex-grow: 1;
}

.editableContainer label {
  padding: 0px 0px 8px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.leftPane {
  flex-grow: 2;
  padding: 10px 60px 0px 0px;
}

.editables {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 0px 20px 0px;
}

.rightPane {
  flex-grow: 1;
  padding: 10px 0px;
  width: 20%;
}

.prompt {
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.promptInteractors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.iconWrapper {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.crossMark {
  background-color: var(--red4);
  color: var(--red11);
  visibility: hidden;
}

.plus {
  background-color: var(--green4);
  color: var(--green11);
}

.download {
  background-color: var(--plum4);
  color: var(--plum11);
}

.check {
  background-color: var(--blue4);
  color: var(--blue11);
}

.pencil {
  background-color: var(--yellow4);
  color: var(--yellow11);
  visibility: hidden;
}

.prompt:hover .crossMark, .prompt:hover .pencil {
  visibility: unset;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 0px 0px 10px 0px;
}

.newListInput {
  padding: 5px 10px;
}

.newListContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.inputFormWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.visibilityHidden {
  display: none !important;
}

.noPromptYet {
  color: var(--slate9);
  font-size: 13px;
  padding: 20px 0px 0px 3px;
}

.vivekSignature {
  /* Hack: ensure that 'Built with' text appears directly above the fading signature */
  position: absolute;
  bottom: 0px;

  width: 120px;
  stroke-dashoffset: 1;
  stroke-dasharray: 1;
  left: -8px;
}

.footer {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer[data-animate='true'] .vivekSignature path {
  animation: drawVivekSignature 0.8s linear forwards;
}

@keyframes drawVivekSignature {
  100% {
    stroke-dashoffset: 0;
  }
}

.footerText {
  opacity: 0;
  z-index: 10;
}

.footer[data-animate='true'] .footerText {
  animation: showFooter 1s ease-in forwards 3s;
}

@keyframes showFooter {
  100% {
    opacity: 1;
  }
}